body {
    background-image: url('/img/body.jpg');
}

html {
    position: relative;
    min-height: 100%;
}

$footer_height: 258.8px;

body {
    padding-bottom: $footer_height;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer_height;
}

@import "bootstrap/bootstrap";
