{% extends 'home.html.twig' %}

{% block profile %}
<script src="/js/admin_main.js"></script>

{# ====================
==== NOTIFICATIONS ====
==================== #}
{% if alert %}
<div class="alert {{ alert.type }} mt-3" role="alert">
    {{ alert.info }}
</div>
{% endif %}

<!-- ==================
==== MODALS ===========
=================== -->
<div class="modal fade changeName" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                Zmień nazwę
            </div>
            <div class="modal-body pt-0">
                <form action="admin" method="post">
                    <label for="range" class="col-form-label">Stara nazwa:</label>
                    <input type="text" class="form-control the_name" name="old_name" readonly>
                    <label for="range" class="col-form-label">Nowa nazwa:</label>
                    <input type="text" class="form-control" id="new_name" name="new_name" required>
                    <button name="changeName" class="btn btn-lg btn-primary btn-block mt-3" type="submit">Tak na pewno!</button>
                </form>
            </div>
        </div>
    </div>
</div><!-- /.modal -->

<div class="modal fade changePass" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                Zmień hasło
            </div>
            <div class="modal-body pt-0">
                <form action="admin" method="post">
                    <label for="range" class="col-form-label">Użytkownik:</label>
                    <input type="text" class="form-control the_name" name="the_name" readonly>
                    <label for="range" class="col-form-label">Nowe hasło:</label>
                    <input type="text" class="form-control" id="new_pass" name="new_pass" required>
                    <label for="range" class="col-form-label">Powtórz hasło:</label>
                    <input type="text" class="form-control" name="repeat_pass" required>
                    <button name="changePass" class="btn btn-lg btn-primary btn-block mt-3" type="submit">Tak na pewno!</button>
                </form>
            </div>
        </div>
    </div>
</div><!-- /.modal -->

<div class="modal fade removeAcc" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                Usuń konto
            </div>
            <div class="modal-body pt-0">
                <form action="admin" method="post">
                    <label for="range" class="col-form-label">Użytkownik:</label>
                    <input type="text" class="form-control the_name" name="the_name" readonly>
                    <button name="removeAcc" class="btn btn-lg btn-primary btn-block mt-3" type="submit">Tak na pewno!</button>
                </form>
            </div>
        </div>
    </div>
</div><!-- /.modal -->

<!-- ==================
==== ADMIN BODY =======
=================== -->
<div class="jumbotron bg-light p-3 my-3">
    <form action="admin" class="form" method="post">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button id="pass" class="btn btn-outline-secondary change" type="button" data-toggle="modal" data-target="">Hasło</button>
                <button id="change" class="btn btn-outline-secondary change" type="button" data-toggle="modal" data-target="">Nazwa</button>
                <button id="trash" class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="">Usuń</button>
            </div>

            <input type="text" class="form-control" placeholder="Nazwa użytkownika?" name="search_name">

            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" disabled>Według nazwy użytkownika</button>
                <button class="btn btn-secondary" type="submit" name="find">Szukaj</button>
            </div>
        </div>
    </form>
    <table class="table table-bordered table-hover m-0">
        <tr>
            <form action="admin" method="post">
                <th>
                    <button type="submit" class="btn btn-sm btn-outline-primary">Nazwa</button>
                </th>
                <th>
                    <button type="submit" class="btn btn-sm btn-outline-primary" name="filter_title">Ilość memów</button>
                </th>
            </form>
        </tr>
        {% for user in admin.users %}
        <tr class="user" id="{{ user.name }}">
            <td>{{ user.name }}</td>
            <td>{{ user.mCount }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
