<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8"/>
        <title>MemSite</title>
        <link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/scss/master.css" />
        <script src="/js/jquery-3.2.1.slim.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/holder.min.js"></script>
        <script type="text/javascript">
            $(function() {
                $('.{{ action }}').addClass('active')
            })
        </script>
    </head>
    <body>
        <nav class="navbar navbar-expand navbar-light bg-light">
            <div class="container">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="main nav-item nav-link" href="/">
                            <span class="oi oi-pulse"></span> Strona główna
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="random nav-item nav-link" href="/losowe">
                            <span class="oi oi-random"></span> Losowe
                        </a>
                    </li>
                    {% if action == "single" %}
                    <li class="nav-item">
                        <a class="nav-link active">
                            <span class="oi oi-signpost"></span> Pojedynczy
                        </a>
                    </li>
                    {% elseif action == "profile" %}
                    <li class="nav-item">
                        <a class="nav-link active">
                            <span class="oi oi-dashboard"></span> Profil
                        </a>
                    </li>
                    {% elseif action == "admin" %}
                    <li class="nav-item">
                        <a class="nav-link active">
                            <span class="oi oi-eye"></span> Panel Administratora
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <form action="/find/1" class="form-inline my-0" method="post">
                    <input type="search" class="form-control mr-2" name="the_title" placeholder="Jaki tytuł?" required>
                    <button type="submit" class="btn btn-outline-success my-0" name="find">Szukaj</button>
                </form>
                <ul class="navbar-nav">
                    {# If you logged in, show cog with options. #}
                    {% if you or admin %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                                <span class="oi oi-cog"></span> opcje
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                {% if admin %}
                                <h5 class="dropdown-header">Administrator</h5>
                                {% else %}
                                <h5 class="dropdown-header">{{ you.name }}</h5>
                                {% endif %}
                                <div class="dropdown-divider"></div>
                                {% if admin or you.isAdmin %}
                                <a class="dropdown-item text-primary" href="/admin">Panel admina</a>
                                {% endif %}
                                <a class="dropdown-item" href="/profile">Twój profil</a>
                                <a class="dropdown-item" href="/log_out">Wyloguj się</a>
                            </div>
                        </li>

                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/login">
                                <span class="oi oi-globe"></span> zaloguj się / stwórz konto
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="container">
            {% block profile %}{% endblock %}
        </div>
        <div class="container" style="width: 55em">
            {% block content %}{% endblock %}
        </div><!-- /.container -->
        {% block comments %}{% endblock %}
        <footer class="bg-info footer">
            <div class="container py-3">
                <div class="card-deck">
                    <div class="card border-light text-light bg-info">
                        <div class="card-body">
                            <div class="text-center">
                                <h4 class="card-title">Wolna od reklam</h4>
                                <h1 class="oi oi-chat"></h1>
                            </div>
                            <p class="card-text text-justify">Nasza strona nigdy nie będzie posiadała uciążliwych dla użytkownika reklam. Będziemy się utrzymywać z kont premium z dodatkowymi możliwościami.</p>
                        </div>
                    </div>
                    <div class="card border-light text-light bg-info">
                        <div class="card-body">
                            <div class="text-center">
                                <h4 class="card-title">Szybka</h4>
                                <h1 class="oi oi-bolt"></h1>
                            </div>
                            <p class="card-text text-justify">Mamy w nosie cudaczne animacje, jakich teraz pełno. Zależy nam przede wszystkim na prędkości odpowiedzi strony na rządania użytkownika.</p>
                        </div>
                    </div>
                    <div class="card border-light text-light bg-info">
                        <div class="card-body">
                            <div class="text-center">
                                <h4 class="card-title">Tworzona z pasją</h4>
                                <h1 class="oi oi-flag"></h1>
                            </div>
                            <p class="card-text">Ta strona tworzona jest przez osoby, które są mocno zaangażowane w projekt i będą się starać, aby go ciągle wspierać. Prosimy jedynie o wyrazy szacunku.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
