<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="/scss/master.css" />
        <script src="/js/jquery-3.2.1.slim.min.js"></script>
        <script src="/js/less.min.js"></script>
        <script type="text/javascript">
        $(function(){
            // Appearance only.
            $('a[href={{ action }}]').addClass('active').removeClass('text-info')
        })
        </script>
    </head>
    <body>
        <div class="container mt-3" style="width: 25em">
            {# Alerts #}
            {% if alert %}
            <div class="alert {{ alert.type }}" role="alert">
                {{ alert.info }}
            </div>
            {% endif %}
            {# /Alerts #}

            <div class="card text-center mx-auto input">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link login text-info" href="login">Zaloguj</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link register text-info" href="register">Zarejestruj się</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link register text-info" href="/">Str. główna</a>
                        </li>
                    </ul>
                </div>
                {% block sign_in_out %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
