{% extends 'input.html.twig' %}

{% block sign_in_out %}
<div class="card-body">
    <form class="form-signin" action="login" method="post">
        <input name="nick" type="text" class="form-control mb-3" placeholder="Pseudonim" required autofocus>
        <input name="pass" type="password" class="form-control mb-3" placeholder="Hasło" required>
        <button name="login" class="btn btn-lg btn-info btn-block" type="submit">Zaloguj się</button>
    </form>
</div>
{% endblock %}
