{% extends 'home.html.twig' %}

{% block content %}
<div class="jumbotron bg-light px-3 pb-3 pt-0 my-3">
    <div class="row">
        <div class="col-9">
            {% for row in posts %}
                <div class="card mt-3">
                    <div class="card-header">
                        <a class="text-info" href="/single/{{ row.id }}">{{ row.title }}</a>
                        <span class="float-right">Dodany przez: <strong>{{ row.byWho }}</strong></span>
                    </div>
                    <div class="card-body p-0">
                        <img class="img-fluid" style="width: 100%" src="http://mem-site.app/memes/{{ row.id }}.jpg" />
                    </div>
                    <div class="card-footer text-muted text-center">
                        {{ row.whenInDays }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-3">
            <div class="sticky-top pt-3">
                <div class="card">
                    <div class="card-header p-2 text-muted text-center">
                        Sponsorzy
                    </div>
                    <div class="card-body p-0">
                        <img class="img-fluid" style="width: 100%" src="holder.js/200x50?theme=social&text=Fejszbuk&size=15" />
                        <img class="img-fluid" style="width: 100%" src="holder.js/200x50?theme=sky&text=Tłitter&size=15" />
                        <img class="img-fluid" style="width: 100%" src="holder.js/200x50?theme=industrial&text=Majspejs&size=15" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{# Paginator #}
<script type="text/javascript">
    $(function() {
        $('#{{ page_nr }}').addClass("active");
    });
</script>
<div class="btn-group btn-group-lg mb-3" role="group">
    {% for i in range(1, totalPages) %}
        <a id="{{ i }}" class="btn btn-light" href="{{ i }}">{{ i }}</a>
    {% endfor %}
</div>
{% endblock %}
