{% extends 'home.html.twig' %}

{% block profile %}
<script src="/js/profile.js"></script>

{# ====================
==== NOTIFICATIONS ====
==================== #}
{% if alert %}
<div class="alert {{ alert.type }} mt-3" role="alert">
    {{ alert.info }}
</div>
{% endif %}

<!-- ==================
==== MODALS ===========
=================== -->
<div class="modal fade addMeme" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                Dodaj mem
            </div>
            <div class="modal-body pt-0">
                <form class="was-validated" action="profile" method="post" enctype="multipart/form-data">
                    <label for="meme_title" class="col-form-label">Tytuł mema:</label>
                    <input type="text" class="form-control" id="meme_title" name="user_title" placeholder="Wpisz tytuł" required>
                    <label for="meme_img" class="col-form-label">Wybierz obrazek:</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="meme_img" name="file" required>
                        <label class="custom-file-label">Przeglądaj</label>
                    </div>
                    <button name="add_image" class="btn btn-lg btn-primary btn-block mt-3" type="submit">Dodaj mem</button>
                </form>
            </div>
        </div>
    </div>
</div><!-- /.modal -->

<div class="modal fade remMeme" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                Czy na pewno chcesz je usunąć?
            </div>
            <div class="modal-body">
                <form action="profile" method="post">
                    <label for="range" class="col-form-label">Zakres:</label>
                    <input type="text" class="form-control" id="range" name="range" readonly>
                    <button name="del_range" class="btn btn-lg btn-primary btn-block mt-3" type="submit">Tak na pewno!</button>
                </form>
            </div>
        </div>
    </div>
</div><!-- /.modal -->

<!-- ==================
==== PROFILE BODY =====
=================== -->
<div class="jumbotron bg-light p-3 my-3">
    <form action="/profile" class="form" method="post">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button class="btn btn-outline-success" type="button" data-toggle="modal" data-target=".addMeme">Dodaj mem</button>
                <button id="trash" class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="">Usuń wybrane</button>
            </div>

            <input type="text" class="form-control" placeholder="Jaki tytuł?" name="the_title">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" disabled>Według tytułu</button>
                <button class="btn btn-secondary" type="submit" name="find">Szukaj</button>
            </div>
        </div>
    </form>
    <table class="table table-bordered table-hover m-0">
        <tr>
            <form action="profile" method="post">
                <th>
                    <button type="submit" class="btn btn-sm btn-outline-primary">ID</button>
                </th>
                <th>
                    <button type="submit" class="btn btn-sm btn-outline-primary" name="filter_title">Tytuł</button>
                </th>
                <th>
                    <button type="submit" class="btn btn-sm btn-outline-primary" name="filter_date">Data Dodania</button>
                </th>
                {% if you.isAdmin %}
                <th>
                    <button type="submit" class="btn btn-sm btn-outline-primary" name="filter_date">Nazwa użytkownika</button>
                </th>
                {% endif %}
                <th><span class="oi oi-link-intact"></span></th>
            </form>
        </tr>
        {% for item in you.memes %}
        <tr class="meme" id="{{ item.id }}">
            <td>{{ item.id }}</td>
            <td class="w-50">{{ item.title }}</td>
            <td>{{ item.whenAdded|date("H:i d.m.y") }}</td>
            {% if you.isAdmin %}
            <td>{{ item.byWho }}</td>
            {% endif %}
            <td><a href="/single/{{ item.id }}"><span class="oi oi-link-intact"></span></a></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
