{% extends 'input.html.twig' %}

{% block sign_in_out %}
<div class="card-body">
    <form class="form-signin" action="register" method="post">
        <input name="nick" type="text" class="form-control mb-3" placeholder="Pseudonim" required autofocus>
        <input name="pass" type="password" class="form-control mb-3" placeholder="Hasło" required>
        <input name="repeat" type="password" class="form-control mb-3" placeholder="Powtórz hasło" required>
        <button name="register" class="btn btn-lg btn-info btn-block" type="submit">Zarejestruj się</button>
    </form>
</div>
{% endblock %}
