{% extends 'home.html.twig' %}

{% block content %}
<script src="/js/single.js"></script>

<!-- ===================================
============ COMMENT MODALS ============
==================================== -->

<div class="modal fade" id="modal_add_comment" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Dodaj komentarz</h5>
            </div>
            <form action="/single/{{ meme.id }}" method="post">
                <div class="modal-body">
                    <div class="form-group" id="message-field">
                        <label for="message-text" class="col-form-label">Treść:</label>
                        <textarea class="form-control" name="comment" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij okno</button>
                    <button type="submit" class="btn btn-primary" name="add_comment">Wyślij</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_del_comment" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Usuń komentarz</h5>
            </div>
            <form action="/single/{{ meme.id }}" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="comment_id" class="col-form-label">comment_id:</label>
                        <input type="text" class="form-control" id="comment_id" name="comment_id" readonly>
                    </div>
                    <div class="form-group">
                        <label for="reply_id" class="col-form-label">reply_id:</label>
                        <input type="text" class="form-control" id="reply_id" name="reply_id" readonly>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij okno</button>
                    <button type="submit" class="btn btn-primary" name="del_comment">Usuń</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- ===================================
============= REPLY MODALS =============
==================================== -->

<div class="modal fade" id="modal_add_reply" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Dodaj odpowiedź</h5>
            </div>
            <form action="/single/{{ meme.id }}" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="comment_id" class="col-form-label">comment_id:</label>
                        <input type="text" class="form-control" id="comment_id" name="comment_id" readonly>
                    </div>
                    <div class="form-group">
                        <label for="reply_id" class="col-form-label">reply_id:</label>
                        <input type="text" class="form-control" id="reply_id" name="reply_id" readonly>
                    </div>
                    <div class="form-group" id="message-field">
                        <label for="message-text" class="col-form-label">Treść:</label>
                        <textarea class="form-control" name="comment" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij okno</button>
                    <button type="submit" class="btn btn-primary" name="add_reply">Dodaj</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="modal_del_reply" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Usuń odpowiedź</h5>
            </div>
            <form action="/single/{{ meme.id }}" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="comment_id" class="col-form-label">comment_id:</label>
                        <input type="text" class="form-control" id="comment_id" name="comment_id" readonly>
                    </div>
                    <div class="form-group">
                        <label for="reply_id" class="col-form-label">reply_id:</label>
                        <input type="text" class="form-control" id="reply_id" name="reply_id" readonly>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij okno</button>
                    <button type="submit" class="btn btn-primary" id="submit" name="del_reply">Usuń</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="jumbotron bg-light p-3 my-3">
    <div class="card">
        <div class="card-header">
            {{ meme.title }}
            <span class="float-right text-muted">{{ meme.whenAdded|date("d.m.y") }}</span>
        </div>
        <div class="card-body p-0">
            <img class="img-fluid" style="width: 100%" src="http://mem-site.app/memes/{{ meme.id }}.jpg" />
        </div>
        <div class="card-footer text-muted text-center">
            {{ meme.whenInDays }}
        </div>
    </div>
    {% if action == "random" %}
        <div class="row mt-3">
            <div class="col-9">
                <a class="btn btn-info btn-lg btn-block" href="/">Przejdź na stronę główną</a>
            </div>
            <div class="col-3">
                <a class="btn btn-info btn-lg btn-block" href="/losowe"><span class="oi oi-random"></span></a>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block comments %}
<div class="bg-dark text-light">
    <div class="container py-3">
        <div class="row">
            <div class="col-9">
                <div class="mb-2">Komentarze:</div>
                {% if meme.comments %}
                    {% for comment in meme.comments %}
                        <div class="media">
                            <img class="d-flex mr-3 rounded" src="/img/user.jpg" width="50" height="50">
                            <div class="media-body">
                                <h6 class="my-0">{{ comment.byWho }}</h6>
                                <p>
                                    {{ comment.body }}
                                    {% if you %}
                                        <a href="#" class="text-success" data-toggle="modal" data-target="#modal_add_reply" data-comment="{{ comment.id }}">
                                            <span class="oi oi-action-redo"></span>
                                        </a>
                                        {% if comment.byWho == you.name %}
                                            <a href="#" class="text-danger" data-toggle="modal" data-target="#modal_del_comment" data-comment="{{ comment.id }}">
                                                <span class="oi oi-trash"></span>
                                            </a>
                                        {% endif %}
                                    {% else %}
                                        <a href="/login">Zaloguj się aby odpowiedzieć</a>
                                    {% endif %}
                                </p>
                                {% for reply in comment.replies %}
                                    <div class="media">
                                        <img class="d-flex mr-3 rounded" src="/img/user.jpg" width="50" height="50">
                                        <div class="media-body">
                                            <h6 class="my-0">{{ reply.byWho }}</h6>
                                            <p>
                                                {{ reply.body }}
                                                {% if reply.byWho == you.name %}
                                                    <a href="#" class="text-danger" data-toggle="modal" data-target="#modal_del_reply" data-comment="{{ comment.id }}" data-reply="{{ reply.id }}">
                                                        <span class="oi oi-trash"></span>
                                                    </a>
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="text-muted m-0">Nikt jeszcze nie dodał komentarza do tego mema. Zrób to, jako pierwszy!</p>
                {% endif %}
                {% if you %}
                    <form action="/single/{{ meme.id }}" method="post">
                        <button type="button" class="btn btn-info mt-2" data-toggle="modal" data-target="#modal_add_comment">
                            Dodaj komentarz
                        </button>
                    </form>
                {% else %}
                    <p class="text-muted">Tylko zalogowani użytkownicy mogą dodawać komentarze. Aby stworzyć konto lub się zalogować, kliknij <a href="/login">tutaj</a>.</p>
                {% endif %}
            </div>
            <div class="col-3">
                <div class="mb-2">
                    Dodane przez:
                </div>
                <div class="card bg-dark border-light">
                    <div class="card-body p-0">
                        <div class="media">
                            <img class="d-flex mr-3" src="/img/user.jpg" width="64" height="64">
                            <div class="media-body pt-2">
                                <span class="text-info">{{ author.name }}</span><br>
                                <span class="text-muted">ilość memów:</span> {{ author.mCount }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
