<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8" />
    <title>TEST</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/scss/master.css" />
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/holder.min.js"></script>
</head>

<body>
    <label class="custom-file">
        <input type="file" id="file2" class="custom-file-input">
        <span class="custom-file-control"></span>
    </label>
</body>

</html>